configuration {
    modi: "drun,run";
    show-icons: true;

    drun-display-format: "{name}";

    display-drun: "Apps";
    display-run: "Run";

    matching: "fuzzy";
    sorting-method: "fzf";

    font: "JetBrainsMono Nerd Font 11";
}

@theme "theme"
