[Desktop Entry]
Type=Application
Name=Ghost Shell
Comment=Quickshell desktop shell
Exec=/usr/bin/qs --no-duplicate -c ghost-shell
Terminal=false
NoDisplay=true
